<div class="align-items-start">
  <form [formGroup]="form">

    <select class="form-select mb-4 form-select-lg" formControlName="deckId">
      @for (deck of deckSummary$ | async; track $index) {
        <option [value]="deck.deckId">{{ deck.name }}</option>
      }
      @empty {
        <option>Loading...</option>
      }
    </select>

    <div class="mb-4">
      <label for="count" class="form-label">Decks</label>
      <input type="number" class="form-control form-control-lg" id="count" formControlName="count">
    </div>

    <div class="mb-4">
      <label for="split" class="form-label">Split</label>
      <input type="number" class="form-control form-control-lg" id="split" formControlName="split">
    </div>

    <div class="mb-4">
      <div class="d-flex justify-content-between">
        <div>
          <input type="checkbox" class="btn-check" autocomplete="off" id="shuffle" checked formControlName="shuffle">
          <label for="shuffle" class="btn btn-outline-success btn-lg">Shuffle</label>
        </div>

        <div>
          <input type="checkbox" class="btn-check" autocomplete="off" id="replacement" formControlName="replacement">
          <label for="replacement" class="btn btn-outline-danger btn-lg">Replacement</label>
        </div>
      </div>
    </div>


  </form>
</div>

