<div class="row mt-5">
  <div class="col d-flex justify-content-center align-items-center">
    <div>
      <img src="/assets/images/icons/icon-128x128.png" class="w-50">
    </div>
    <h1>Deck of Card</h1>
  </div>
</div>

<div class="row mt-5">
  <div class="col">
    <div class="d-flex justify-content-around">
      <button type="button" class="btn btn-success btn-lg" [routerLink]="['/create-game']">
        Create Game
      </button>
      <button type="button" class="btn btn-warning btn-lg" [routerLink]="['/join-game']">
        Join Game
      </button>
    </div>
  </div>
</div>
