<div class="row">
  <div class="col">
    <div class="d-flex justify-content-center">
      <h1> Waiting for  game <code>{{ gameId }}</code> to start</h1>
    </div>
  </div>
</div>

@if (!!name) {
  <div class="row mt-1">
    <div class="col">
      <div class="d-flex justify-content-center">
        <h3> {{ name }} </h3>
      </div>
    </div>
  </div>
}

<div class="row mt-5">
  <div class="col">
    <div class="d-flex justify-content-around">
      <button type="button" class="btn btn-secondary btn-lg" (click)="back()">
        Leave
      </button>
      <button type="button" class="btn btn-success btn-lg" (click)="start()">
        Start
      </button>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="row">
    <app-error-message [text]="errorText"></app-error-message>
  </div>
</div>
